
.nav li a:hover{
    color: orange;
}
.nav label{
    font-size: 2.5vmax;
    margin-right: 22vmax;
}
/* body section  */
.body1{
    background-image: url(../images/pexels-photo-4593811.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vmax;
  
}
.body1 h2{
    font-size: 7vmax;
    color: orange;
    text-shadow: 2px 2px black;
    text-align: end;
    margin-right: 10px;

}
.body1 p{
    text-align: end;
    font-size: 5vmax;
    color: black;
    text-shadow: 0.5px 0.5px rgb(171, 187, 26);
    margin-right: 10px;
    font-style: italic;
}
.body1 a{
    float: right;
    margin: 1vmax;
    border-radius: 5px;
}
/* body 2 section  */
.body2 label{
    margin-left: 15vmax;
}
.body2 img{
    width: 80%; 
    height: 35vmax;
}
 /* footer section  */
 .icon a{
    margin: 2vmax;
    text-decoration: none;
 }
 .f{
    color: blue;
 }
 .in{
    color: purple;
 }
 iframe{
    width: 100%;
    height: 20vmax;
 }
.navigation a{
    text-decoration: none;
}
.copy{
    margin-left: 25vmax;
}
/* shop section  */
.product img{
    width: 100%;
}
.product h3{
    color: orange;
    text-shadow: 2px 2px black;
  
}
.about h2, .about p{
    text-align: center;

}




